@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "../fonts/index.css";

@theme {
  --breakpoint-xxs: 370px;
  --breakpoint-xs: 450px;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}

* {
  font-family: "Inter", sans-serif;
}

.el-form-item__label::after {
  color: #335cff !important;
}

.el-input__wrapper,
.el-select__wrapper {
  padding: 0;
  padding-right: 10px;
  border-radius: 10px;
  height: 44px;
}
.el-input__inner,
.el-select__selected-item {
  padding: 12px 10px;
  height: fit-content;
  line-height: 20px;
}

.el-input__prefix-inner {
  display: flex;
  justify-content: center;
}
